html, body {
	font-size: 95%;
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: 'Verdana', sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	background-color: #769393;
	background-image: url('/static/img/background.png');
	background-repeat: repeat-x;
	background-size: 360px;
}

body {
	min-height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', cursive;
	color: #FFF;
}

#content {

}

#wrapper {
	display: block;
	width: 100%;
	margin: 0 auto;
}

#footer {
	width: 100%;
}

#footer img {
	width: 100%;
	position: absolute;
	bottom: 0;

	z-index: -1;

	max-width: 720px;
}

.logo {
	width: 300px;
	max-width: 720px;

	padding: 20px 10px;

	display: block;
	margin: 0 auto;
}

.channel {
	width: 90%;
	margin: 0 5%;
}

.channel .label {
	float: right;

	color: #FFF;

	font-size: 1.4em;
	font-family: 'Lobster', cursive;

}

input[type='range'] {
	display: block;

	width: 100%;

	height: 20px;

	-webkit-appearance: none;
	background: #0f0d0d; /* Old browsers */
	background: -moz-linear-gradient(top, #0f0d0d 0%, #4f6060 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f0d0d), color-stop(100%,#4f6060)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0f0d0d 0%,#4f6060 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0f0d0d 0%,#4f6060 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0f0d0d 0%,#4f6060 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0f0d0d 0%,#4f6060 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0d0d', endColorstr='#4f6060',GradientType=0 ); /* IE6-9 */

	border-radius: 8px;

	border-bottom: 1px solid #90b6b6;
	border-right: 1px solid #90b6b6;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;

	border-radius: 100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);

    width: 32px;
    height: 32px;

    background-color: #d0d0d0;
	background-image: url('/static/img/button-background.png');
	background-position: center center;

	border: 2px solid #f0f0f0;
}

div.sequencer table {
	width: 100%;
	border-collapse: separate;
    border-spacing: 1px 4px;
}

@keyframes slider {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

@-webkit-keyframes slider {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

div.sequencer div.line {
	width: 2px;
	height: 210px;
	background-color: #FFF;
	position: absolute;
	left: 0;

    -webkit-animation-timing-function: linear;
    -webkit-animation-name: "slider";
    -webkit-animation-iteration-count: infinite;

    animation-timing-function: linear;
    animation-name: "slider";
    animation-iteration-count: infinite;
}

div.sequencer table tr td {
	opacity: 0.5;
}

div.sequencer table tr td.selected {
	opacity: 1;
}

div.sequencer table tr:nth-child(1) td {
	background-color: rgb(74,167,167);
}

div.sequencer table tr:nth-child(2) td {
	background-color: rgb(147,184,73);
}

div.sequencer table tr:nth-child(3) td {
	background-color: rgb(80,54,42);
}

div.sequencer table tr:nth-child(4) td {
	background-color: rgb(232,110,43);
}

div.sequencer table tr:nth-child(5) td {
	background-color: rgb(90,169,212);
}

div.sequencer table tr:nth-child(6) td {
	background-color: rgb(4,116,188);
}

div.sequencer table td {
	margin-bottom: 5px;
	height: 30px;

}

.speed {
	display: block;
	margin-top: 20px;
	width: 50% !important;
	float: right;
}

.notice, .confirm, .warning, .error {
    padding: 7px 40px;
    margin-bottom: 10px;

    border-width: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

    text-align: center;
    font-weight: bold;
    color:#FFF;

    background-image: url(../img/message_background.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    text-shadow: 0 0 8px #FFF;
}

.confirm {
    background-color: #0e7b20;
}


.notice {
    background-color: #666;
}

.warning {
    background-color: #bc540f;
}

.error {
    background-color:#CC0000;
}