{% extends "layout.html" %}

{% block content %}

<div class="sequencer">
	<div class="line"></div>

	<table>
		<tr data-channel="0">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

		<tr data-channel="1">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

		<tr data-channel="2">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

		<tr data-channel="3">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

		<tr data-channel="4">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

		<tr data-channel="5">
			<td data-timebox="0"></td>
			<td data-timebox="1"></td>
			<td data-timebox="2"></td>
			<td data-timebox="3"></td>
			<td data-timebox="4"></td>
			<td data-timebox="5"></td>
			<td data-timebox="6"></td>
			<td data-timebox="7"></td>
			<td data-timebox="8"></td>
			<td data-timebox="9"></td>
		</tr>

	</table>
</div>


{% endblock %}